
<div class='row'>
  <div class='col-3'>
    <%= link_to "#{book.name} (#{book.chapters.pages} pages)", book %>
  </div>
  <div class='col-9'>
    <%= render book.chapters %>
  </div>                  
</div>
<br>

  