<div class='container'>
  <div class='row'>
      <div class='col-3'>
        <h3>Title</h3>      
      </div>
      <div class='col-9'>
        <h3>chapters</h3>      
      </div>
  </div>
  <%= render @books %>
</div>